body { 
   font: 14px helvetica neue, helvetica, arial, sans-serif;
}

.cy_container {
    height: 100%;
    width: 80%;
    position: absolute;
    left: 20%;
}

.base_panel {
    width: 20%;
    min-width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 100;
    /*background-color: lightgray;*/
    background-color: #F5F5F5;
}

.right_panel {
    width: 20%;
    min-width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 100;
    /*background-color: lightgray;*/
    background-color: #F5F5F5;
}

.panel-section {
    margin: 20px;
    margin-top: 30px;
}

.element-section {
    margin-top: 5px;
}

.item-space {
    margin-left: 10px;
}

.toolbar {
    width: 100%;
    height: 65px;
    background-color: lightgray;
    /*background-color: #F5F5F5;*/
}

.logo {
   /* width: 134px;
    height: 60px;
*/
    width: 123px;
    height: 55px;
}

.middle {
    position:absolute; 
    height:49px;
    top:0; 
    bottom:0; 
    right:0; 
}

#submit_btn {
    margin-top: 12px;
    margin-right: 20px;
}

.web-title {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}